[submodule "cmake"]
	path = cmake
	url = https://github.com/biojppm/cmake
[submodule "extern/debugbreak"]
	path = extern/debugbreak
	url = https://github.com/biojppm/debugbreak
[submodule "extern/sanitizers-cmake"]
	path = extern/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
